**
!Dockerfile
!.dockerignore
!requirements.txt
!alembic.ini
!app/
!app/*.py
!migrations/
!migrations/env.py
!migrations/script.py.mako
!migrations/versions/
!migrations/versions/*.py

!ops/
!ops/*.py
!requirements.lock
